<div id="loading-ball" *ngIf="isLoading">
    <img src="../../../assets/card-maker-images/pokeball-loading.gif"/>
</div>
<div class="card-maker-component">    
    <form [formGroup]="form">
        <div class="name-container">
            <label for="name">Name: </label><br>
            <input type="text" formControlName="name"/>
        </div>

        <div class="background-container">
            <label for="background">Background: </label><br>
            <select formControlName="background">
                <option *ngFor="let bkg of backgroundList" value="{{bkg.id}}">{{bkg.id}}</option>
            </select>
        </div>
        
        <div class="trainer-container">
            <label for="trainer">Trainer: </label><br>
            <button (click)="toggleTrainerPicker()">Choose trainer</button>
    
            <div *ngIf="showTrainerPicker">
                <div *ngFor="let trainer of trainerList">
                    <div class="row">
                        <div class="col-4">
                            <input type="radio" (click)="pickItem(2)"
                            formControlName="trainer" value="{{trainer.id}}">
                            <img src="../../../assets/card-maker-images/trainers/{{trainer.id}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pokemon-container">
            <div>
                <label for="pokemon1">Pokemon 1:</label>
                <input list="pokemons" formControlName="pokemon1">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>
                   
            <div>
                <label for="pokemon2">Pokemon 2:</label>
                <input list="pokemons" formControlName="pokemon2">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>

            <div>
                <label for="pokemon3">Pokemon 3:</label>
                <input list="pokemons" formControlName="pokemon3">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>

            <div>
                <label for="pokemon4">Pokemon 4:</label>
                <input list="pokemons" formControlName="pokemon4">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>
                   
            <div>
                <label for="pokemon5">Pokemon 5:</label>
                <input list="pokemons" formControlName="pokemon5">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>

            <div>
                <label for="pokemon6">Pokemon 6:</label>
                <input list="pokemons" formControlName="pokemon6">
                <datalist id="pokemons">
                    <option *ngFor="let poke of pokemonList">{{poke.name}} </option>
                </datalist>   
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-3">
                    <button (click)="generateCard()">Generate</button>
                </div>

                <div class="col-3">
                    <button (click)="resetCard()">Reset</button>
                </div>
            </div>                        
        </div>
    </form>
</div>

<div class="card-background" *ngIf="generatedCard.valid" [ngStyle]="{'background-image': 'url(' + generatedCard.background + ')'}">
    <div class="selected-name-container">
        {{generatedCard.name}}
    </div>

    <div class="selected-trainer-container">
        <img src={{generatedCard.trainer}} />
    </div>

    <div class="selected-pokemon">
        <div class="row selected-pokemon-row">
            <div class="col-4">
                <img src={{generatedCard.pokemon1}} />
            </div>
            <div class="col-4">
                <img src={{generatedCard.pokemon2}} />
            </div>
            <div class="col-4">
                <img src={{generatedCard.pokemon3}} />
            </div>
        </div>

        <div class="row selected-pokemon-row">
            <div class="col-4">
                <img src={{generatedCard.pokemon4}} />
            </div>
            <div class="col-4">
                <img src={{generatedCard.pokemon5}} />
            </div>
            <div class="col-4">
                <img src={{generatedCard.pokemon6}} />
            </div>
        </div>
    </div>
</div>