#loading-ball img {
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#eceaea;
    background-image:url('../../../assets/card-maker-images/pokeball-loading.gif');
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.7;
    filter: alpha(opacity=40);
}

.card-maker-component {
    margin-left: 5%;
}

.name-container, .background-container, .trainer-container,
.pokemon-container {
    margin-top: 5%;
}

.background-container select {
    width: 51%;
}

.pokemon-container div {
    margin-top: 1%;
}

.pokemon-container input {
    margin-left: 2%;
}

.trainer-container img {
    width: 90px;
    height: 90px;
}


//teste
.card-background {
    background-repeat: no-repeat;
    // background-image: url("../../../assets/card-maker-images/backgrounds/blue.png");
    background-size:100% 100%;
    height: 200px;
}

.selected-name-container {
    width: 50px;
    position: relative;
    top: 20%;
    left: 15%;
}

.selected-trainer-container {
    position: relative;
    top: 30%;
    left: 5%;
    width: 30%;
}

.selected-trainer-container img {    
    width: 65px;
    height: 80px;
}

.selected-pokemon {
    position: relative;
    width: 50%;    
}

.selected-pokemon-row {
    position: relative;
    left: 75%;
}

.selected-pokemon-row img {
    width: 40px;
    height: 40px;
    position: relative;
    top: -55%;
}