@import "~bootstrap-icons/font/bootstrap-icons.css";

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.action-cell i{
    margin-left: 5%;
}

.remove-icon {
    color: red;
}