.sobre-container {
    margin-top: 2px;    
}

//Desktop
@media screen and (min-width: 850px) {
    .profile-picture-container img {
        border-radius: 50%;
        height: 85vh;
        width: 40vw; 
        position: relative;        
        left: 10%;
        border: 2px solid purple;
        margin-top: 15%;
        animation: pulse 7s linear infinite;
    }

    .profile-picture-container {
        display: inline-block;
    }

    .professional-title-container {
        height: 25vh;
        width: 30vw; 
        display: inline-block;
        position: relative;
        left: 10%; 
        top: 100px;
    }

    .professional-title-container p {
        margin-top: 10%;
        font-size: 14px;
    }

    #angular-logo {
        width: 100px;
        height: 100px;
        position: relative;
        left: -20px;
    }

    #scrum-logo {
        width: 50px;
        height: 50px;
        position: relative;
        left: -30px;
    }

    #web-stack-logo {
        width: 130px;
        height: 50px;
        position: relative;
        left: -20px;
    }

    .tech-container, .angular-logo-container, .scrum-logo-container, .web-stack-logo-container {
        display: inline-block;
    }
}

//Smartphone
@media screen and (max-width: 350px) {
    .profile-picture-container img {
        border-radius: 50%;
        height: 40vh;
        width: 60vw;
        position: relative;
        left: 20%;
        border: 2px solid purple;
        margin-top: 5%;
        animation: pulse 7s linear infinite;
    }

    .professional-title-container {
        height: 60%;
        width: 95%;
        display: inline-block;
        position: relative;
        left: 5%;
        top: 20px;
    }

    .professional-title-container p {
        margin-top: 5%;
        font-size: 14px;
    }

    #angular-logo {
        width: 100px;
        height: 100px;
        position: relative;
        left: -20px;
    }

    #scrum-logo {
        width: 50px;
        height: 50px;
        position: relative;
        left: -30px;
    }

    #web-stack-logo {
        width: 130px;
        height: 50px;
        position: relative;
        left: -20px;
    }

    .tech-container, .angular-logo-container, .scrum-logo-container, .web-stack-logo-container {
        display: inline-block;
    }   
    
    @media screen and (min-width: 200px) and (max-width: 294px) {
        #angular-logo {
            width: 80px;
            height: 100px;
            position: relative;
            left: -20px;
        }
    
        #scrum-logo {
            width: 40px;
            height: 50px;
            position: relative;
            left: -30px;
        }
    
        #web-stack-logo {
            width: 100px;
            height: 50px;
            position: relative;
            left: -20px;
        }
    }
}



//Tablet
@media screen and (min-width: 351px) and (max-width: 849px) {
    .profile-picture-container img {
        border-radius: 50%;
        height: 40vh;
        width: 60vw;
        position: relative;
        left: 20%;
        border: 2px solid purple;
        margin-top: 15%;
        animation: pulse 7s linear infinite;
    }

    .professional-title-container {
        height: 60%;
        width: 95%;
        display: inline-block;
        position: relative;
        left: 5%;
        top: 20px;
    }

    .professional-title-container p {
        margin-top: 5%;
        font-size: 16px;
    }

    #angular-logo {
        width: 100px;
        height: 100px;
        position: relative;
        left: -20px;
    }

    #scrum-logo {
        width: 50px;
        height: 50px;
        position: relative;
        left: -30px;
    }

    #web-stack-logo {
        width: 130px;
        height: 50px;
        position: relative;
        left: -20px;
    }

    .tech-container, .angular-logo-container, .scrum-logo-container, .web-stack-logo-container {
        display: inline-block;
    }  
}

//Padrão
//TEXTO COM ANIMAÇÃO DE DIGITANDO
.professional-title-container h3 {
    color: purple;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}

// efeito pulsação
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
}