<div class="sobre-container">
    <div class="profile-picture-container">
        <img src="../../../../assets/pics/profile-dan.jpg"/>
    </div>

    <div class="professional-title-container">
        <h3>Olá!! Sou Daniel Castagna!</h3>

        <p *ngIf="showAboutMe">
            Desenvolvedor Front-end com experiência em Angular 2+, JavaScript, TypeScript e consumo de APIs REST. Experiente em projetos gerenciados por Metodologias Ágeis. Formado em Sistemas de Informação.
        </p>

        <div class="tech-container">
            <div class="angular-logo-container">
                <img id="angular-logo" src="../../../../assets/portfolio/angular-logo.png">
            </div>
            
            <div class="scrum-logo-container">
                <img id="scrum-logo" src="../../../../assets/portfolio/scrum-logo.png">
            </div>
            
            <div class="web-stack-logo-container">
                <img id="web-stack-logo" src="../../../../assets/portfolio/web-stack-logo.png">
            </div>
        </div>
    </div>
</div>