.exp-container {
    margin-top: 2px;
}

h2 {
    text-align: center;
}

//carousel
*{margin:0; padding: 0; box-sizing: border-box;}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#items-wrapper {
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
}

#items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

// ::-webkit-scrollbar-thumb
// {
//     background: rgb(0, 0, 0) !important;
// }

// ::-webkit-scrollbar {
//     height: 4px;
//     width: 4px;
// }
  
// ::-webkit-scrollbar-track {
//     background-color: rgba(0, 0, 0, 0.26) !important;    
// }

// ::-webkit-scrollbar-button:single-button {
//     background-color: #bbbbbb;
//     display: block;
//     border-style: solid;
//     height: 13px;
//     width: 16px;
// }

// /* Up */
// ::-webkit-scrollbar-button:single-button:vertical:decrement {
//     border-width: 0 8px 8px 8px;
//     border-color: transparent transparent #555555 transparent;
//   }
  
//   ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
//     border-color: transparent transparent #777777 transparent;
//   }
//   /* Down */
//   ::-webkit-scrollbar-button:single-button:vertical:increment {
//     border-width: 8px 8px 0 8px;
//     border-color: #555555 transparent transparent transparent;
//   }
  
//   ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
//     border-color: #777777 transparent transparent transparent;
//   }

html {
    background: black;
    color: white;
  }
  
  ::-webkit-scrollbar {
      width: 16px;
      height: px;
  }
  
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
      background-color: rgb(64, 64, 64);
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: rgb(96, 96, 96);
      background-clip: padding-box;
      border: 2px solid transparent;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background-color: rgb(112, 112, 112);
  }
  
  ::-webkit-scrollbar-thumb:active {
      background-color: rgb(128, 128, 128);
  }
  
  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
      background-color: rgb(64, 64, 64);
  
      display: block;
      background-size: 10px;
      background-repeat: no-repeat;
  }
  
  /* Left */
  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
      height: 12px;
      width: 12px;
      background-position: 3px 3px;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
  
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  /* Right */
  ::-webkit-scrollbar-button:single-button:horizontal:increment {
      height: 12px;
      width: 12px;
      background-position: 3px 3px;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  