@import "~bootstrap-icons/font/bootstrap-icons.css";

.app-container {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    min-height: 100%;
    overflow: hidden;
}

input, select {
    width: 100%;
}

.filters-container {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5%;
    background-color: rgb(231, 231, 231);
}

//second model
.recipe-container {
    // max-height: 150px;    
}

.recipe-image-container img {   
    width: 100px;
    height: 100px;
}

.recipe-image-container, .recipe-text-container {
    display: inline-block;
}

.recipe-name-container {
    position: relative;
    top: 10px;
    left: 2%;
    font-size: 12px;    
}

.recipe-prepTime-container {
    position: relative;
    top: 15px;
    left: 15%;
    font-size: 12px;    
}

.admin-container {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    min-height: 100%;
}

.imagem img {
    width: 100px;
    height: 100px;
}

.recipe-text-container {
    // position: relative;
    // left: -15px;
}

.img-container, .text-container {
    display: inline-block;
}