<div class="app-container">
    <div class="filters-container">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <label>Nome</label><br>
                    <input type="text" formControlName="name"/>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <label>Categoria</label><br>
                    <input list="categories" formControlName="category">
                    <datalist id="categories">
                        <option *ngFor="let categ of categories">{{categ}} </option>
                    </datalist>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <br>
                    <button>Filtrar</button>
                </div>
            </div>
        </form>
    </div>
<hr>
    <div class="content-container">
        <h4>Veja essas receitas de dar água na boca!</h4>        
 
        <!-- <div *ngFor="let recipe of recipes" class="recipe-container">
            <div class="row">
                <div class="col-lg-6 col-md-3 col-sm-3 col-6">
                    <div class="imagem">
                        <img src="{{recipe.recipeImage}}"/>
                    </div>  
                </div>

                <div class="col-lg-6 col-md-3 col-sm-3 col-6">                    
                    <div class="recipe-text-container">
                        <div class="recipe-name-container">
                            {{recipe.name}}
                        </div>
            
                        <div class="recipe-prepTime-container">
                            <i class="bi bi-stopwatch">{{recipe.prepTime}}</i>
                        </div>
                    </div> 
                </div>                
            </div>    
            <hr>       
        </div> -->

        <div class="recipe-container">
            <div class="row">
                <div *ngFor="let recipe of recipes" class="col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="img-container">
                        <div class="imagem">
                            <img src="{{recipe.recipeImage}}"/>
                        </div>  
                    </div>
    
                    <div class="text-container">                    
                        <div class="recipe-text-container">
                            <div class="recipe-name-container">
                                {{recipe.name}}
                            </div>
                
                            <div class="recipe-prepTime-container">
                                <i class="bi bi-stopwatch">{{recipe.prepTime}}</i>
                            </div>
                        </div> 
                    </div> 
                    <hr>
                </div>                
            </div>            
        </div>
    </div>

    <div class="admin-container">
        <h5>Área do Admin</h5>
    
        <button (click)="cadastrarReceita()">Cadastrar receita</button>
    
        <router-outlet></router-outlet>
    </div>
</div>