<div class="contato-container">
    <h2>Contato</h2>
    <div class="div-contatos">
        <div>
           <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png"
           (click)="msgMe('whatsapp')"/>           
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
            (click)="msgMe('linkedin')"/>            
         </div>

         <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"
            (click)="msgMe('instagram')"/>
         </div>
    </div>
</div>