.contato-container {
    margin-top: 2px;
}

h2 {
    text-align: center;
}

img {
    width: 25px;
    height: 25px;
}

.div-contatos {
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center; 
}

.div-contatos div {
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
}

img:hover {
    cursor: pointer;
}