.card-exp {
    margin-left: 2%;
    margin-top: 2%;
    padding: 5%;
    // border: 1px solid black;
    // border-radius: 10px;
}

//Desktop
@media screen and (min-width: 850px) {
  
}

//Smartphone
@media screen and (max-width: 350px) {

}

//Tablet
@media screen and (min-width: 351px) and (max-width: 849px) {

}