<div class="card-exp" *ngIf="item.nomeEmpresa">
    <h3>{{ item.cargo }}</h3>

    <h6>{{ item.nomeEmpresa }}</h6>

    <p>
        {{ item.dataInicio | date:'MM/yyyy' }} até
        {{ item.dataFim | date:'MM/yyyy' }}
    </p>

    <p>{{ item.descricao }}</p>
</div>

<div class="card-exp" *ngIf="item.company">
    <h4>{{ item.occupation }}</h4>

    <h4>{{ item.company }}</h4>

    <p>
        {{ item.startDate }} à
        {{ item.endDate }}
    </p>

    <p>{{ item.description }}</p>
</div>