<div class="menu">
    <ul>
        <li (click)="selectMenuItem(MenuItem.NEW)">
            &nbsp;
            <span>N</span>
            <span>O</span>
            <span>V</span>
            <span>O</span>
            &nbsp;
        </li>
        <li (click)="selectMenuItem(MenuItem.RULES)">
            &nbsp;
            <span>R</span>
            <span>E</span>
            <span>G</span>
            <span>R</span>
            <span>A</span>
            <span>S</span>
            &nbsp;
        </li>
    </ul>
</div>